@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  background: #3d3c3c;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  scrollbar-color: yellow;
}

::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px yellow;
}

::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 5);
}


.carteL:hover{
  transform: scale(1.25);


}

.rsvL:hover{
  transform: scale(1.25);
}








button{
background-color: #3d3c3c;
text-decoration: none;
border: none;


}


.carte {
  color: yellow;
  font-family: "Cinzel", serif;
  position: absolute;
  left: 65%;
  top: 250px;
  font-size: 40px;
  text-decoration: none;
  transition: transform 200ms ;
}


.carte:hover {
  color:rgb(163, 96, 18);
  transform: scale(1.34);
}


.cartee {
  position: absolute;
  left: -90%;
  top: 45px;
  
}




.rsv {
  font-family: "Cinzel", serif;
  color: yellow;
  position: absolute;
  right: 65%;
  top: 250px;
  font-size: 40px;
  transition: transform 200ms;
}

.rsv:hover {
  color:rgb(163, 96, 18);
  transform: scale(1.34);

}



.rsvv {
  position:absolute;
  right: 20%;
  top: 300%;
  transform: scale(1.34);
} 



h1 {
  width: 450px;
  font-family: "Cinzel", serif;
  color: yellow;
  position: absolute;
  left: 38%;
  font-size: 50px;
}


#iframe {
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px;
}




.co {
  color: yellow;
  position: fixed;
  top: 0;
  right: 5%;
  transform: translateX(-50%);
  padding-top: 25px;
  font-size: 18px;
  text-decoration: none;
}

.co:hover {
  color:rgb(163, 96, 18);
}

.in {
  color: yellow;
  position: fixed;
  top: 0;
  right: 0%;
  transform: translateX(-50%);
  padding-top: 25px;
  font-size: 18px;
  text-decoration: none;
}
.in:hover {
  color:rgb(163, 96, 18);
}

.droit{
  position: absolute;
  width: 130px; 
  left: 31.5%;
  padding: 10px;



}

.gauche{
  position: absolute;
  width: 130px;
  left: 54%;
  padding: 10px;
}
.mentions{
  position: fixed;
  color: yellow;
  text-decoration: none;
  top: 0;
  padding-top: 25px;
  font-size: 18px;
  left: 2%;
}

.mentions:hover{
  color: rgb(163, 96, 18);
}